<p>
	<strong>Pseudonim: </strong>
	<%= comment.name %><br/>
	<strong>Komentarz: </strong>
	<%= comment.body %><br/>
	<%= link_to("Usuń", [comment.article, comment],
							method: :delete,
							data: { confirm: "Czy na pewno chcesz usunąć ten komentarz?" }) %>
</p>
